{% extends "base.html" %}
{% block body %}
{% load static %}
<center><strong>CONFRIM YOUR ACCOUNT</strong></center>

<center><p>check the inbox of your email - {{email}} - and enter the otp<p></center>

<body>
    {% if error_flag %}
        <div class="alert alert-danger">
            {{ error_message }}
        </div>
    {% endif %}
    <form action="{% url 'forgot_password_otp_varification' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="email" value="{{ email }}">
        <center><input style='width: 30%' type="text" placeholder="enter the otp" name="otp"></center><br><br>
        <center><button style="background-color: black; color:white; padding: 10px 15px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer; " type="submit">verify</button></center>
    </form>
</body>

{% endblock body %}

